@charset "UTF-8";

/*
    Paleta de cores
    verde: #49A09D
    roxo: #5F2C82
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5F2C82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 256px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5F2C82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5F2C82;
    width: 100%;
    display: block;
    height: 35px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 5px 0;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    color: white;
    background-color: #49A09D;
    border: 1px solid black;
    border-radius: 6px;
}

form > input[type=submit]:hover {
    background-color: #56c2be;
    cursor: pointer;
    transform: scale(1.01) translateY(-2px);
}

form > a.butao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 7px;
    background-color: #fff;
    border: 1px solid black;
    color: #244b49;
    border-radius: 6px;
    text-decoration: none;
}

form > a.butao:hover {
    background-color: #92d8d7;
    cursor: pointer;
    transform: scale(1.01) translateY(-2px);
}

form > a.butao > i {
    font-size: 0.8em;
    fill: 1;
}